body {
  background-color: #ffdead;
}

.card-color {
  background: #ffe4c4;
}

.profile {
  /* background-image: url('https://img5.goodfon.ru/wallpaper/big/6/dc/tommy-chandra-artist-man-forest-trees-tunnel-rabbit-ears-str.jpg'); */
  padding: 10px;
}

.item {
  /* border-radius: 10px; */
  width: 40px;
  height: 40px;
  border: 1px outset black;
  margin: 1px;
}

.item-color {
  border-radius: 10px;
}

.active {
  border: 2px outset red;
}

.shader {
  background-color: aquamarine;
  width: 10px;
  height: 200px;
}
